
.shop-item {
    background-color: var(--card-color);

    display: flex;
    flex-direction: column;
    gap: .5rem;

    position: relative;

    box-sizing: border-box;
    width: 145px;
    padding: 10px;
    border-radius: 7px;

    transition: all .1s linear; 
}

.shop-item:hover {
    transform: scale(1.05);
}

.shop-item:active {
    transform: scale(1.1);
}

.shop-item .shop-item-image {
    background-color: var(--accent-color);

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
    min-height: 0;
    min-width: 0;
    width: 100%;
    aspect-ratio: 1 / 1;
    padding: .5rem;
}

.shop-item .shop-item-icon {
    max-height: 100%;
    max-width: 100%;
}

.shop-item .shop-item-info {
    display: flex;
    flex-direction: column;
    gap: .5rem;

    flex: 1;
}

.shop-item h2 {
    word-break: break-word;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    font-size: 1.5rem;
}

.shop-item .shop-item-stats {
    font-size: 1rem;
    color: var(--faint-text-color);

    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    gap: 1rem;

    margin-top: auto;
}

.favourite-button {
    background-color: var(--card-color);

    position: absolute;
    top: .1rem;
    left: .1rem;

    height: 3rem;
    padding: .4rem;
    border-radius: 0 0 2rem 0;
    z-index: 9;
}

.favourite-button:hover {
    background-color: var(--card-color);
}

.favourite-button:hover .favourite-icon {
    transform: scale(0.9);
}


@media (max-width: 768px) {
    .shop-item:hover img {
        transform: none;
    }
}
