.balance-page .user-div {
    padding: 0;
}

.balance-page .user-div-content {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
    gap: 2rem;

    flex-grow: 1;

    padding: 1rem;
}

.balancepage .user-div img {
    height: 100%;
}

.balance-page .name-div {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: .3rem;

    margin-right: auto;
}