
.balancepage .user-div {
    display: flex;
    flex-direction: row;
    width: 90%;
}

.balancepage .user-div-content {
    background-color: var(--contrast-color);

    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
    gap: 2rem;

    flex-grow: 1;

    padding: 1rem;
}

.balancepage .user-div img {
    height: 100%;
}

.balancepage .name-div {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: .3rem;

    margin-right: auto;
}

.balancepage .name-div p:last-child {
    color: var(--secondary-text-color);
}


.balancepage .open-refill-popup-button {
    background-color: var(--green-color);
    
    box-sizing: border-box;
    width: 4rem;
    padding: 1rem;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
}

.deposit-comment-header {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}
