

.product {
    background-color: var(--secondary-color);

    display: flex;
    flex-direction: column;

    box-sizing: border-box;
    width: 10rem;
    padding: 1rem;

    transition: all .01s linear; 
}

.product:active {
    transform: scale(1.05);
}

.product .product-image {
    background-color: grey;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
    box-sizing: border-box;
    min-height: 0;
    min-width: 0;
    width: 100%;
    aspect-ratio: 1 / 1;
    padding: .5rem;
}

.product img {
    max-height: 100%;
    max-width: 100%;
}

.product .product-info {
    display: flex;
    flex-direction: column;
    gap: .5rem;

    flex: 1;
}

.product h2 {
    word-break: break-word;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.product .product-stats {
    font-size: 1rem;

    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    gap: 1rem;

    margin-top: auto;
}