
.refill-user-balance-popup input{
    width: 2rem;
}

.refill-user-balance-popup .popup-body>* {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
    gap: 0.5rem;
}

.refill-user-balance-popup .popup-body>*>*:first-child {
    margin-right: auto;
}

