

#root {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 1rem;

    width: 100%;
    min-height: 100vh;
}

#root>div {
    width: 100%;
}

.no-button-formatting {
    background: none;
    border: none;
    color: inherit;
    font: inherit;
    cursor: pointer;
    padding: 0;
    outline: inherit;
}

.noUlFormatting {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.action-buttons {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 1rem;
}

.cancel-button, .delete-button {
    background-color: brown;
    color: #ffffff;
}

.do-button, .add-button {
    background-color: var(--green-color);
}

.disabled-button {
    background-color: var(--input-color);
    color: var(--text-color-ligth);

    cursor: auto;
}

.close-button {
    background-color: var(--secondary-background-color);

    position: absolute;
    top: 0;
    right: 0;

    aspect-ratio: 1/1;
    border: none;
    border-radius: 0;
}

.inputdiv {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}

.login-div {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    align-items: center;
    justify-content: center;

    min-height: 100vh;
}

.error-message {
    color: red;
    font-size: 0.8rem;
}
