@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

:root {
    --main-background-color: #292929;
    --primary-color: #0e666c;
    --secondary-color: #1c1c1c;

    --glass-color: #000000c0;

    --text-color: #ffffff;
    --text-color-subtitle: #c2c2c2;
    --text-color-ligth: var(--text-color-subtitle);
    --link-color: #09cdda;

    --button-color: var(--primary-color);
    --border-color: #fff;
    --border-color-ligth: #212121;
    --input-color: #353535;

    --shadowbox-color: rgba(0, 0, 0, 0.642);
    --image-background-color: #35353569;

    --green-color: #1cbf0a;
    --red-color: #ff0000;
}


* {
    padding: 0;
    margin: 0;
}

html {
    min-height: 100%;
}

body {
    background-color: var(--main-background-color);
    color: var(--text-color);

    font-family: Montserrat;
    font-size: 18px;

    min-height: 100vh;
}

h1 {
    font-weight: 500;
}

h2 {
    font-weight: 500;
}

h3 {
    font-weight: 400;
}

a   {
    color: var(--link-color);
}

button {
    background-color: var(--button-color);
    color: var(--text-color);

    font-weight: 600;

    cursor: pointer;

    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: .5rem;

    padding: .5rem 1rem;
    border: none;
    border-radius: .2rem;
}

button img {
    height: 100%;
    aspect-ratio: 1/1;

    display: flex;
    align-items: center;
    justify-content: center;
}

select {
    background-color: var(--secondary-color);
    color: var(--text-color);

    padding: .5rem;
    border-radius: .5rem;
}

input {
    background-color: var(--input-color);
    color: var(--text-color);

    padding: .5rem;
    border-radius: .5rem;
}

hr {
    width: 100%;
}