
.shopPage {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: stretch;
    flex-wrap: wrap;
    gap: 1rem;

    position: relative;
}

#root .showCartButton {
    background-color: var(--green-color);

    position: fixed; 
    bottom: 3rem;
    right: 2rem;

    width: 5rem;
    aspect-ratio: 1/1;
    padding: 1rem;
    border-radius: 1rem;
    border: .1rem #fff solid;
}

.showCartButton img {
    height: 100%;
    aspect-ratio: 1/1;
}

.showCartButton .items-indicator {
    position: absolute;
    top: 0;
    right: 0;
    background-color: red;
    color: #fff;
    font-size: 1rem;
    font-weight: bold;
    padding: .2rem .5rem;
    border-radius: 50%;
    transform: translate(50%, -50%);
}