
.shop-page {

    flex-direction: row;
    justify-content: center;
    align-items: stretch;
    flex-wrap: wrap;
}

.search-bar-container {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center; 

    width: 100%;
    max-width: 30rem;
    margin-inline: auto;
}

.search-bar {
    width: 90%;
}

.clear-search-bar-button {
    position: absolute;
    right: 5%;
    top: 50%;
    transform: translateY(-50%);
    cursor: pointer;
}


.showCartButton {
    background-color: var(--green-color);

    position: fixed; 
    bottom: 3rem;
    right: 5%;

    width: 90%;
    height: 5rem;
    border-radius: .4rem;
    z-index: 11;
}

.items-indicator {
    background-color: #ff0000;

    position: absolute;
    top: 0;
    right: 0;

    font-weight: bold;
    text-align: center;

    min-width: 2ch;
    aspect-ratio: 1/1;
    padding: .2rem .2rem;
    border-radius: 100%;
    transform: translate(50%, -50%);
    z-index: 10;
}