

.popup-div {
    background-color: var(--secondary-color);

    display: flex;
    flex-direction: column;
    gap: 2rem;

    position: fixed;

    box-sizing: border-box;
    width: max-content;
    max-width: 80%;
    padding: .5rem;
    border: #fff .1rem solid;
    margin-inline: auto;
}

.popup-div .popup-actions {
    display: flex;
    justify-content: space-between;
}
