
.login-page {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 1rem;

    min-height: 50vh;
    width: 100%;
}

.login-page button {
    background-color: var(--primary-color);
    min-width: 200px;
    min-height: 50px;
}

.login-page>* {
    width: max-content !important;
}

.login-page .remember-me {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 8px
}