
.cart {
    background-color: var(--secondary-color);

    display: flex;
    flex-direction: column;
    gap: 1rem;

    box-sizing: border-box;
    width: 100%;
    max-width: 30rem;
    padding: .5rem 1rem;
    border: 1px solid #fff;
}

.cartList {
    display: flex;
    flex-direction: column;
    gap: .7rem;

    width: 100%;
}

.cartList li {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    gap: .9rem;

    list-style: none;

    padding-bottom: .4rem;
}

.cart .item-name {
    word-break: break-word;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    flex: 1;

    max-width: 15ch;
    margin-right: auto;
}

.cartList .item-price {
    /* flex: 1; */
    min-width: 3ch;
    text-align: center;
}

.cart .delete-button {
    box-sizing: border-box;
    padding: .2rem;
    height: 100%;
}

.cart .cart-footer {
    display: flex;
    flex-direction: column;
    gap: .7rem;
}

.cart .select-paying-user {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: .5rem;
}

.cart .open-comment-button {
    margin-left: auto;
}

.cart .total {
    font-weight: bold;
}

.cart .quantity-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: .5rem;

    width: min-content;
}

.quantity-container input {
    width: 3ch;
    text-align: center;
}