.cart-panel {
    background-color: var(--card-color);

    flex: 1;
    
    box-sizing: border-box;
    max-width: 22rem;
    height: 100%;
    padding: 1.5rem;
    border-radius: 10px;
}

.cart-panel header {
    display: flex;;
    justify-content: space-between;
}

.cart-panel .empty-cart-button {
    padding: .7rem;
}

.cart-panel ul {
    flex: 1;

    overflow-y: auto;
}

.cart-panel .cart-item {
    background-color: var(--accent-color);

    text-transform: capitalize;
}

.cart-panel .cart-item .icon {
    background-color: var(--card-color);
}

.cart-panel .cart-item .item-quantity {
    margin-left: auto;
    margin-right: .5rem;
}

.cart-panel .selected-user {
    margin-left: 1rem;
}

.cart-panel .checkout-button {
    font-size: 1.2rem;
}

@media screen and (max-width: 850px) {
    .cart-panel {
        margin: 0;
    }
}

.cart-panel .icon {
    border: 2px solid transparent;
}

.cart-panel .blinking {
    animation: blink .3s ease-in-out;
}

@keyframes blink {
    0%      { background-color: var(--accent-color); }
    50%     { background-color: #5b5b5b ; }
    100%    { background-color: var(--accent-color); }
}
