

#root {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 2rem;

    width: 100%;
    height: 100%;
}

.no-button-formatting {
    background: none;
    border: none;
    color: inherit;
    font: inherit;
    cursor: pointer;
    padding: 0;
    outline: inherit;
}

.noUlFormatting {
    list-style-type: none;
    padding: 0;
    margin: 0;
}