

#root {
    display: flex;
    flex-direction: column;
    align-items: flex-start;

    gap: 2rem;

    width: 100%;
    height: 100%;
}

#root>* {
    width: 100%;
}

.no-button-formatting {
    background: none;
    border: none;
    color: inherit;
    font: inherit;
    cursor: pointer;
    padding: 0;
    outline: inherit;
}

.noUlFormatting {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.action-buttons {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 1rem;
}

.cancel-button, .delete-button {
    background-color: brown;
    color: #000000;
}

.do-button, .add-button {
    background-color: var(--green-color);
}

.disabled-button {
    background-color: grey;

    cursor: auto;
}

.close-button {
    background-color: grey;

    cursor: pointer;

    position: absolute;
    top: 0;
    right: 0;

    padding: 1rem;
    border-radius: 0 0 0 1rem;
    border-bottom: 1px solid #ffffff;
    border-left: 1px solid #ffffff;

}

.inputdiv {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}