@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

:root {
    --main-background-color: #444444;
    --primary-color: #000;
    --glass-color: #000000c0;
    --text-color: #fff;
    --link-color: #09cdda;
    --green-color: #0bc70b;
}

* {
    padding: 0;
    margin: 0;
}

html {
    height: 100%
}

body {
    background-color: var(--main-background-color);
    color: var(--text-color);

    font-family: Inter;
    height: 100%;
}

a   {
    color: var(--link-color);
    /* text-decoration: none; */
}
