@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

:root {
    --main-background-color: #444444;
    --primary-color: #0e666c;
    --secondary-color: #000;

    --glass-color: #000000c0;

    --text-color: #fff;
    --link-color: #09cdda;

    --button-color: var(--primary-color);
    --border-color: #fff;

    --shadowbox-color: rgba(0, 0, 0, 0.642);
    --image-background-color: #7d7d7d;

    --green-color: #107f10;
}


* {
    padding: 0;
    margin: 0;
}

html {
    min-height: 100%;
}

body {
    background-color: var(--main-background-color);
    color: var(--text-color);

    font-family: Inter;
    font-size: 18px;

    min-height: 100vh;
}

a   {
    color: var(--link-color);
    /* text-decoration: none; */
}

button {
    background-color: var(--button-color);
    color: var(--text-color);
    cursor: pointer;

    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;

    padding: .5rem 1rem;
    border: none;
    border-radius: .2rem;
}

button img {
    height: 100%;
    aspect-ratio: 1/1;

    display: flex;
    align-items: center;
    justify-content: center;
}

select {
    background-color: var(--secondary-color);
    color: var(--text-color);

    padding: .5rem;
    border-radius: .5rem;
}

input {
    background-color: grey;
    color: var(--text-color);

    padding: .5rem;
    border-radius: .5rem;
}

hr {
    width: 100%;
}