
.page-header {
    background-color: var(--secondary-color);

    display: flex;
    flex-direction: column;
    align-items: center;
    flex-wrap: wrap;
    gap: 1rem;  

    box-sizing: border-box;
    padding: .5rem;
}

.page-header>div {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.page-header .inline-header-nav {
    display: flex;
    flex-direction: row;
    gap: 1rem;
}



.page-header .mobile-header-nav, .page-header .open-nav-button {
    display: none;
}

@media screen and (max-width: 500px) {
    .page-header .inline-header-nav {
        display: none;
    }

    .page-header .mobile-header-nav {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 1rem;
    }

    .page-header .open-nav-button {
        display: block;
    }
}