
.transaction-popup {
    background-color: var(--contrast-color);

}

.transaction-overview {
    display: flex;
    flex-direction: column;
    gap: .8rem;
}


.transaction-overview p {
    display: flex;
    justify-content: space-between;
    gap: 1rem;

    margin-bottom: .2rem;
}


/* --- RECEIPT DETAILS --- */

.receipt-details>hr {
    margin: .5rem 0;
}

.receipt-list {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    gap: .5rem;

    max-height: 10.7rem;

    overflow-y: auto;
}

.receipt-item, .total {
    display: flex;
    justify-content: flex-end;
    gap: .5rem;
}

.receipt-item p:first-child {
    margin-right: auto;
}

.receipt-item .item-total {
    min-width: 5ch;
    text-align: right;
}

.receipt-details .total {
    font-weight: bold;

    justify-content: space-between !important;
}
