
.cart {
    background-color: var(--secondary-color);

    display: flex;
    flex-direction: column;
    gap: 1rem;

    position: absolute;
    top: 10rem;

    box-sizing: border-box;
    width: 80%;
    padding: .5rem 1rem;
    border: 1px solid #fff;
}

.cartList {
    display: flex;
    flex-direction: column;
    gap: .3rem;

    width: 100%;
}

.cartList li {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;

    list-style: none;

    padding-bottom: .4rem;
}

.cartList li>* {
    flex: 1;
}

.cart button img {
    height: 100%;
    aspect-ratio: 1/1;
}

.cart .select-paying-user {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: .5rem;
}