
.page-header {
    background-color: var(--secondary-color);

    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 1rem;  

    box-sizing: border-box;
    width: 100%;
    padding: .5rem 1.5rem;
}

.page-header .logo {
    height: 4rem;
}

.page-header h1 {
    font-size: 1.8rem;
    color: var(--text-color);
}

.page-header a {
    text-decoration: none;
}

.page-header>div {
    width: 100%;
    display: flex;
    justify-content: left;
    align-items: center;
    gap: 2rem;
}

.page-header .header-nav {
    display: flex;
    flex-direction: row;
    gap: 1rem;
}

.page-header .open-nav-button {
    display: none;
    background-color: transparent;
    padding: 0;
    height: 2.5rem;
}

@media screen and (max-width: 650px) {
    .page-header {
        flex-direction: column;
    }

    .page-header>div {
        justify-content: space-between;
    }

    .page-header .open-nav-button {
        display: block;
    }

    .page-header .header-nav {
        text-align: center;

        flex-direction: column;

        height: 0;

        overflow: hidden;
        transition: all 0.5s linear;
    }

    .page-header .open-nav {
        height: max-content;
    }
}