
.page-header {
    background-color: var(--contrast-color);

    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 1rem;  

    box-sizing: border-box;
    width: 100%;
    padding: .5rem 1.5rem;
}

.page-header .logo {
    height: 4rem;
}

.page-header h1 {
    font-size: 1.8rem;
    color: var(--text-color);
}

.page-header a {
    text-decoration: none;
}

.page-header>div {
    display: flex;
    justify-content: left;
    align-items: center;
    gap: 2rem;

    width: 100%;
}

.page-header .header-nav {
    display: flex;
    flex-direction: row;
    gap: 1rem;
}

.page-header .open-nav-button {
    background-color: transparent;

    display: none;

    height: 2.5rem;
    padding: 0;
}


@media screen and (max-width: 650px) {
    .page-header {
        flex-direction: column;
    }

    .page-header>div {
        justify-content: space-between;
    }

    .page-header .open-nav-button {
        display: block;
    }

    .page-header .header-nav {
        display: none;
    }

    #root .page-header .nav-open {
        display: flex;
    }
}