.cart-item {
    background-color: var(--secondary-contrast-color);

    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-end;
    gap: .5rem;

    padding: .5rem;
    border-radius: 5px;
}

.cart-item .item-name {
    word-break: break-word;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    flex: 1;

    /* max-width: 15ch; */
    margin-right: auto;
}

.cart-item button {
    padding: 0;
    font-size: 2rem;
}

.cart-item .item-price {
    min-width: 5ch;
    text-align: right;
}

.cart-item .delete-button {
    padding: .2rem;
}
